<!DOCTYPE html>
<html>
    <head>
        <title>Reject Application</title>
    </head>
    <style>
        .heading {
          background-color: rgb(196, 227, 238);
          
        }
        .content {
          text-align: center;
        }
        .error {
          text-align: center;
          color: red;
          font-size: 22px;
        }
    </style>
    <body bgcolor = #CAEEC4>
        <div class = "heading">
            <br>
            <font color = #377CDE><h3 id = "unamefield"></h3></font>
            <hr color=#00008B>
        </div>

        <div class = "content">
            <br>
            <p>Application has been successfully rejected<br></p>
            <br><br><br><br><br><br><br><br><br>
            <a href = "./"><input type="button" id = "Back" name = "Back" value="Back"></a> <br>
        </div>

        

        <div class = "error">
            <P> </P>
        </div>
    </body>
</html>